.newFineContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 800px;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}
.formNewFine input, .formNewFine p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: start;
}